$main_bg: #F6FAFB;
$dark-blue-50: #e7edf4;
$dark-blue-5000: #0b4e8c;
$light-blue-200: #cce1f7;
$blue-grey-100: #CBD0D4;
$light-blue-100: #DDEBF9;
$light-blue-120: #EAF4F6;
$light-blue-50: #F4F8FD;
$dark-blue-100: #0F2132;
$dark-blue-600: #0A477F;
$dark-blue-300: #5C88B2;
$dark-blue-352: #18102F;
$blue-grey-500: #586775;
$light-blue-700: #6686A8;
$light-gray-700: #717171;
$light-blue-500: #90BDED;
