<div class="card-content">
  <div class="card" *ngFor="let item of cardData">
    <div class="card__main">
      <img
        class="card__main-icon"
        src="../../../../assets/images/icon/{{item.title}}.svg"
        alt="Icon">
      <h2 class="card__main-title">{{item.title}}</h2>
      <div class="card__main-price">
        <span class="price_title">without coverage</span>
        <h4 class="price_count">{{item.price | currency:'CAD':'symbol-narrow':'3.0'}}+</h4>
      </div>
    </div>
    <div class="card__sale">
      <span class="card__sale-with">with</span>
      <img
        class="card__sale-logo"
        src="assets/images/logo.png"
        alt="Logo">
      <span class="card__sale-count">$ 0*</span>
    </div>
  </div>
</div>

