<app-nav></app-nav>
<div class="home">
    <header class="home__header">
        <div class="container">
            <app-search (searchValue)="searchValue($event)" class="d-lg-block d-none"></app-search>
            <section class="home__main d-flex justify-content-between align-items-center flex-wrap">
                <div class="home__main_left">
                    <h5 class="home__main_left-title">We Provide</h5>
                    <h1 class="home__main_left-desc">
                        Superior Protection for your Vehicle
                    </h1>
                    <span class="home__main_left-sub">
                            Most repairs for your car or truck will occur after your factory warranty has expired.
                        NobleQuote coverage starts when your factory coverage stops.</span>
                    <button class="btn-main home__main_left-btn">Get The Coverage</button>
                </div>
                <div class="home__main_right">
                    <form [formGroup]="aboutForm" (ngSubmit)="submit()">
                        <div class="home__main_right-type select-block">
                            <div class="home__main_right-title_block">
                                <h2 class="title">About Your Vehicle</h2>
                                <span class="title-line d-inline-block"></span>
                            </div>

                            <div class="home__main_right-select">
                                <div class="select-lain">
                                    <div class="lain-items d-flex align-items-center justify-content-between">
                                        <app-select
                                                [options]="optionsList"
                                                [myControl]="select1"
                                                [label]="'Year of Vehicle'"
                                        ></app-select>
                                        <app-select
                                                [options]="optionsList"
                                                [myControl]="select2"
                                                [label]="'Model'"
                                        ></app-select>
                                    </div>

                                </div>
                                <div class="select-lain">
                                    <div class="lain-items d-flex align-items-center justify-content-between">
                                        <app-select
                                                [options]="optionsList"
                                                [myControl]="select3"
                                                [label]="'Make of Vehicle'"
                                        ></app-select>
                                        <app-select
                                                [options]="optionsList"
                                                [myControl]="select4"
                                                [label]="'Mileage'"
                                        ></app-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="home__main_right-type about_block position-relative">
                            <div class="home__main_right-title_block">
                                <h2 class="title">About You</h2>
                                <span class="title-line"></span>
                            </div>

                            <div class="home__main_right-select">
                                <div class="select-lain">
                                    <div class="lain-items d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="home__main_input">
                                            <label class="home__main_input-label">First Name</label>
                                            <input
                                                    formControlName="firstName"
                                                    placeholder="Jhon"
                                                    class="home__main_input-area"
                                                    type="text">
                                        </div>
                                        <div class="home__main_input">
                                            <label class="home__main_input-label">Email Address</label>
                                            <input
                                                    formControlName="email"
                                                    placeholder="jhonsmith@gmail.com"
                                                    class="home__main_input-area"
                                                    type="text">
                                        </div>
                                    </div>

                                </div>
                                <div class="select-lain">
                                    <div class="lain-items d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="home__main_input">
                                            <label class="home__main_input-label">Last Name</label>
                                            <input
                                                    placeholder="Smith"
                                                    formControlName="lastName"
                                                    class="home__main_input-area"
                                                    type="text">
                                        </div>
                                        <div class="home__main_input">
                                            <label class="home__main_input-label">Phone Number</label>
                                            <input
                                                    placeholder="12345678"
                                                    formControlName="phoneNumber"
                                                    class="home__main_input-area"
                                                    type="phone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home__main_right-footer">
                            <p class="footer_text">By submitting this form, I agree to NobleQuote contacting me
                                by phone, text or email to present available coverage options for my vehicle.</p>
                            <button
                                    [disabled]="aboutForm.invalid"
                                    type="submit"
                                    class="btn-main footer_btn">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </header>
    <div class="container">
        <article class="home__article">
            <h2 class="home__article-title">Average Repair Costs in 2023</h2>
            <div class="home__article-card">
                <app-costs-card
                        [cardData]="costsCard"
                ></app-costs-card>
            </div>
        </article>
    </div>
    <app-points></app-points>
    <div class="container">
        <app-card-block></app-card-block>
    </div>
    <app-organization></app-organization>
    <div class="container">
        <app-quote></app-quote>
    </div>
    <app-footer></app-footer>
</div>
