<div class="home">
    <section class="home__section d-flex position-relative">
        <div class="container">
            <div class="home__section_content position-relative">
                <h4 class="home__section_content-title">Don’t let a breakdown put the brakes on your day!</h4>
                <p class="home__section_content-sub_title">Without coverage you risk</p>
                <div class="home__section_content-points">
                    <div class="home__section_content-points_item">
                        <img class="points_icon" src="assets/images/stress.svg" alt="icon">
                        <span class="points_name">Having unwanted stress</span>
                    </div>
                    <div class="home__section_content-points_item">
                        <img class="points_icon" src="assets/images/money-bag-2.svg" alt="icon">
                        <span class="points_name">Having unexpected costs</span>
                    </div>
                    <div class="home__section_content-points_item">
                        <img class="points_icon" src="assets/images/steering-wheel.svg" alt="icon">
                        <span class="points_name">Being unable to drive</span>
                    </div>
                    <div class="home__section_content-points_item">
                        <img class="points_icon" src="assets/images/briefcase-4.svg" alt="icon">
                        <span class="points_name">Being unable to work</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__section-image position-absolute">
            <img alt="Banner" src="assets/images/banner_section.webp">
        </div>
    </section>
</div>
