@import "src/app/shared/style/variables/colors";

.home {
  &__organization {
    max-height: 936px;
    width: 96%;
    margin-left: auto;
    box-sizing: border-box;
    margin-top: 220px;
    padding: 80px 90px 0;
    background: linear-gradient(103.14deg, #90BDED -6.44%, #2D5174 99.9%);
    border-radius: 30px 0 0 30px;

    @media (max-width: 480px) {
      padding: 80px 20px 0;
      margin-top: 100px;
    }

    @media (max-width: 576px) {
      padding: 50px 31px 0;
      margin-top: 100px;
      max-height: 670px;
    }

    &-bg_fone {
      z-index: 9;
    }

    &-slide {
      @media (max-width: 992px) {
        margin: auto;
        width: 100%;
      }
    }

    &-carousel {
      max-width: 646px;
      img {
        width: 238px;
      }
    }

    &-footer {
      box-sizing: border-box;
      background: $dark-blue-50;
      border-radius: 30px;
      padding: 75px 65px;
      transform: translateY(-3px);
      max-width: 1220px;

      @media (max-width: 992px) {
        padding: 30px;
      }

      @media (max-width: 567px) {
        padding: 15px;
      }

      .title {
        font-weight: 700;
        font-size: 50px;
        line-height: 63px;
        color: $dark-blue-100;
        max-width: 412px;
        @media (max-width: 992px) {
          font-size: 32px;
          line-height: 50px;
          max-width: 100%;
          margin: 0 auto 20px;
        }
        @media (max-width: 567px) {
          text-align: center;
          font-weight: 700;
          font-size: 25px;
          line-height: 32px;
        }
      }
    }
    .header-image{
      @media (max-width: 576px) {
        max-width: 361px;
        margin: auto;
        img{
          width: 100%;
        }
      }
    }
    &-header {
      .text-block {
        .title {
          font-weight: 700;
          font-size: 60px;
          line-height: 60px;
          color: #FFFFFF;
          margin-bottom: 30px;
          @media (max-width: 576px) {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 30px;
            line-height: 60px;
          }
        }

        .desc {
          font-weight: 400;
          font-size: 28px;
          line-height: 150%;
          color: #FFFFFF;
          max-width: 400px;
          @media (max-width: 992px) {
            max-width: 100%;
          }
          @media (max-width: 567px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
          }
        }
      }
      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
    }
  }
}
